@model IEnumerable<Concert>
@{
    ViewData["Title"] = "Index";
}

@Html.ActionLink("Register New", "AddConcert")
<table class="table_col">
    @*<colgroup>
        <col style="background:#C7DAF0;">
    </colgroup>*@
    <tr>
        <th> Название группы </th>
        <th> Дата концерта </th>
        <th> Количество билетов </th>
        <th> Место проведения </th>
        <th> Цена </th>
        <th> Картинка </th>
    </tr>
   @foreach (var item in Model)
    {
        <tr>
            <th>
                @Html.DisplayFor(model => item.ExectorName)
            </th>
            <th>
                @Html.DisplayFor(model => item.DateOfConcert)
            </th>
            <th>
                @Html.DisplayFor(model => item.CountOfTicket)
            </th>
            <th>
                @Html.DisplayFor(model => item.ExectorName)
            </th>
            <th>
                @Html.DisplayFor(model => item.LocationOfConcert)
            </th>
            <th>
                @Html.DisplayFor(model => item.Price)
            </th>
            <th>
                @Html.DisplayFor(model => item.Img)
            </th>
            <th>
                @Html.ActionLink("Edit", "EditConcert", new { id = item.ID })

                @Html.ActionLink("Details", "DetailsOfConcert", new { id = item.ID })

                @Html.ActionLink("Delete", "DeleteConcert", new { id = item.ID })
            </th>
        </tr>
    }
</table>

<link href="~/css/Style.css" rel="stylesheet" type="text/css"/>
